@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: rgb(14, 14, 14);
    background-repeat: no-repeat;
    color: rgb(42, 42, 42);
    font-family: 'Roboto', sans-serif;
    max-width: 200vh;
    max-height: 200vh;
    margin: 1%;
    padding: 1.5%;
    user-select: none;
}

header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(14, 14, 14));    padding: 10px;
    border-radius: 10px;
}

.box {
    position: static;
    background: orange;
    padding-top: 0.2vh;
    top: 0vh;
    bottom: 190px;
    display: flex;
    margin-top: 10;
    border-radius: 10px;
}

#title{
    flex-direction: column;
    line-height: 5px;
}


h1{
    font-weight: 500;
}

h2{
    margin-top: 8%;
    color: rgb(255, 255, 255);
    font-size: 67px;
    font-family: 'Roboto', sans-serif;
    line-height: 5px;
}

aside {
    margin-top: 5%;
}

span{
    font-size: 110px;
    color: orange;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
}

p{
    color: rgb(197, 197, 197);
    line-height: 50px;
    max-width: 500px;
    line-height: 20px;
}

img{
    display: flex;
    width: 500px;
    padding-left: 400px;
    padding-top: 8%;
    animation: transition_inicial 1.5s ease-out;
}

@keyframes transition_inicial{
    0%{
        transform: translateX(35rem);
    }
    100%{
        transform: translateX(0rem);
    }
}


#btn_criadores{
    border: 2px solid orange;
    background-color: rgb(14, 14, 14);
    color: orange;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 15px;
    transition: 0.5s;
}
#btn_criadores:hover{
    background-color: orange;
    color: rgb(255, 255, 255);
    padding: 10px 50px 10px 50px;
    border-radius: 200px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}


li{
    display: inline-block;
    margin: 10px;
}


#a_select{
    color: orange;
}
#a_notselect{
    color: white;
}
#a_notselect:hover{
    color: orange;
    transition: 1s all;
}


input{
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
    border-color: orange;
    border-style: unset;
}
